.box{
    background-color: rgb(212, 196, 103);
    padding: 20px;
    color: aliceblue;
    border-radius: 500px;
    margin-bottom: 10px;
}

.box1{
    background-color: black;
    padding: 20px;
    color: aliceblue;
    border-radius: 10px;  
}